<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.crm.mapper.CustomerMapper">
    <select id="selectCustomer" resultType="Customer">
        SELECT cust_id,cust_name,cust_user_id,cust_create_id,bCustomer.dict_item_name AS cust_source,cCustomer.dict_item_name AS cust_industry,dCustomer.dict_item_name AS cust_level,cust_linkman,cust_phone,cust_mobile,cust_zipcode,cust_address,cust_createtime
        FROM customer AS aCustomer
        LEFT JOIN(SELECT * FROM base_dict WHERE dict_type_code="002") bCustomer ON aCustomer.cust_source=bCustomer.dict_id
        LEFT JOIN(SELECT * FROM base_dict  WHERE dict_type_code="001") cCustomer ON aCustomer.cust_industry=cCustomer.dict_id
        LEFT JOIN(SELECT * FROM base_dict WHERE dict_type_code="006") dCustomer ON aCustomer.cust_level=dCustomer.dict_id
    </select>
</mapper>